
<%= stylesheet_link_tag "dropdown" %>
<%= javascript_include_tag "dropdown" %>
<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% if current_trainer.id == @trainer.id %>
  <%= button_to "Make a new pokeMANZ", new_path(@trainer), :class => "button medium", :method => :get  %>
<% end %>


<% @trainer.pokemons.each do |pokemon| %>
<br>
<% if pokemon.ndex and @trainer.id == current_trainer.id %>
    <%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") %>
    <p> Name: <%= pokemon.name %> </p>
    <p> Level: <%= pokemon.level %> </p>
    <p> Health:<%= pokemon.health %> </p>
    <div class="dropdown">
  <button onclick="myFunction(this)" class="dropbtn">Damage!</button>
  <div id="myDropdown" class="dropdown-content">
    <% @trainer.pokemons.each do |pokemon| %>
        <%= button_to "#{pokemon.name}", damage_path(id: pokemon), :class => "button small", :method => :patch %>
        <% end %>
  </div>
</div>
<br />
    <%= button_to "Heal!", heal_path(id: pokemon), :class => "button medium", :method => :patch %>
    
<% elsif pokemon.ndex and pokemon.health > 0 %>
    <%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") %>
    <p> Name: <%= pokemon.name %> </p>
    <p> Level: <%= pokemon.level %> </p>
    <p> Health:<%= pokemon.health %> </p>
     <div class="dropdown">
  <button onclick="myFunction(this)" class="dropbtn">Damage!</button>
  <div id="myDropdown" class="dropdown-content">
    <% @trainer.pokemons.each do |pokemon| %>
            <% if pokemon.ndex and pokemon.health > 0 %>
        <%= button_to "#{pokemon.name}", damage_path(id: pokemon), :class => "button small", :method => :patch %>
            <% end %>
        <% end %>

  </div>
</div>
<% end %>
<% end %>
